{% extends 'layouts/base.html' %}

{% block headtitle %}
Pages
{% endblock %}

{% block content %}

<div class='row'>
      <div class='col'>
            <h1 class=''>DJRT App</h1>
      </div>
</div>

<div class='row mb-4'>
      <div class='col-md-4 mx-auto col-10'>
            <form class='form' method='post' action='/create-tweet' id='tweet-create-form'>
                  {% csrf_token %}
                  <input type='hidden' value='/' name='next'/>
                  <textarea class='form-control' name='content' placeholder='Your Tweet ...'></textarea>
                  <button class='btn btn-primary'>Tweet</button>
            </form>
      </div>
</div>


<div class='row' id='tweetsDiv'></div>


<script type='text/javascript'>

      const tweetsDivElement = document.getElementById("tweetsDiv")
      tweetsDivElement.innerHTML = "Loading ..."

      const tweetsCreateFormElement = document.getElementById("tweet-create-form")
      tweetsCreateFormElement.addEventListener("submit", handleTweetCreateFormSubmit)

      function handleTweetCreateFormSubmit(event){
            event.preventDefault()
            const myForm = event.target
            const myFormData = new FormData(myForm)
            const url = myForm.getAttribute("action")
            const method = myForm.getAttribute("method")

            const xhr = new XMLHttpRequest()
            xhr.open(method, url);
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
            xhr.onload = function(){
                  const serverResponse = xhr.response
                  loadTweets(tweetsDivElement)
            }
            xhr.send(myFormData)
      }

      function handleDidLike(tweet_id, currentCount){
            console.log("HANDLE LIKE", tweet_id, currentCount)
      }


      function loadTweets(tweetsEL){
            const xhr = new XMLHttpRequest()
            const method = 'GET'
            const url = "/tweets"
            const responseType = "json"
            var finalTweetsStr = ""

            xhr.responseType = responseType
            xhr.open(method, url)
            xhr.onload = function(){
                  const serverResponse = xhr.response
                  var listedItems = serverResponse.data     

                  for (var i=0; i < listedItems.length; i++){
                        var currentItem = listedItems[i]
                        var tweetObjHTML = formatTweetElement(currentItem)
                        finalTweetsStr += tweetObjHTML
                  }

                  tweetsEL.innerHTML = finalTweetsStr
            }
            xhr.send()
      }


      function formatTweetElement(tweet) {
            var tweetHTML = `
                  <div class='col-12 col-md-12 mx-auto border rounded py-3 mb-4' id='div-tweet-${tweet.id}'>      
                        <p> ${tweet.id}. ${tweet.content} </p>
                        <div class='btn-group'>${LikeBtn(tweet)}</div>
                  </div>`
            return tweetHTML
      }

      function LikeBtn(tweet){
            return `<button class='btn btn-primary btn-sm' id='like-tweet-${tweet.id}' onclick=handleDidLike(${tweet.id},${tweet.likes})>${tweet.likes} Likes</button>`
      }


      
      loadTweets(tweetsDivElement)


</script>

{% endblock %}
